$DarkBlue = #47669f
$DarkGreen = #158115
$ErrorRed = #b13325
$ErrorRedTransparent = rgba( 217, 88, 73, 0.1 )
$HazyGreen = #4ab74a
$LightGray = #acacac
$LightGrayTransparent = rgba( 172, 172, 172, 0.1 )
$LightGreen = #A4E5A4
$CDN = "https://storage.googleapis.com/mega-poetry-9665"
