.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
.Admin {
  color: #4ab74a;
  margin: 8rem 2rem;
  text-align: center;
}
.Admin .splash {
  display: flex;
}
.Admin .splash >* {
  flex: 1;
}
.Admin .splash img {
  display: block;
  margin: 1rem auto;
}
.Admin .splash button {
  border-color: #4ab74a;
  color: #4ab74a;
  background-color: #fff;
  border: 1px solid #acacac;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  padding: 1.25rem;
  width: 10rem;
  text-transform: uppercase;
}
.Admin .splash button:hover {
  background-color: #4ab74a;
  color: #fff;
}
.Byop a {
  color: #4ab74a;
}
.Byop .featured-event .content {
  left: 0;
  width: 100%;
}
.Byop .featured-event .content .center {
  font-size: 10rem;
}
.Byop select {
  background-color: #fff;
  padding: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.Byop h3 {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 4rem 0rem;
}
.Byop .side-by-side {
  display: flex;
}
.Byop .event-info {
  padding: 0rem 10rem;
}
.Byop .important-info {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 2rem;
}
.Byop .important-info h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.Byop .dates {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0rem 2rem;
}
.Byop .detailed-info {
  font-size: 0.85rem;
  line-height: 1rem;
  padding: 2rem;
}
.Byop .detailed-info li {
  margin: 1rem 0rem;
}
.Byop .detailed-info li div {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.35rem;
}
.Byop .sub-heading {
  color: #acacac;
  margin-bottom: 4rem;
}
.Byop .registration {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}
.Byop .registration .info {
  color: #acacac;
  font-size: 0.9rem;
  line-height: 1.05rem;
  text-align: left;
}
.Byop .registration .error {
  border-color: #b13325;
}
.Byop .registration .division,
.Byop .registration .player:first-child,
.Byop .registration .players,
.Byop .registration .contact,
.Byop .registration .shirts,
.Byop .registration .payment-info,
.Byop .registration .total,
.Byop .registration .donation {
  margin-bottom: 2rem;
}
.Byop .registration .player input:not(last-child),
.Byop .registration .contact input:not(last-child),
.Byop .registration .payment-info input:not(last-child),
.Byop .registration .player select:not(last-child),
.Byop .registration .contact select:not(last-child),
.Byop .registration .payment-info select:not(last-child) {
  margin-bottom: 0.5rem;
}
.Byop .registration .spots-left {
  color: #4ab74a;
}
.Byop .registration .payment-info .info {
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0.25rem;
}
.Byop .registration .payment-info.disabled {
  opacity: 0.3;
}
.Byop .registration .cash {
  display: flex;
  justify-content: center;
  margin: -1rem 0 3rem 0;
  opacity: 1;
}
.Byop .registration .cash input {
  margin: 0.5rem;
  width: inherit;
}
.Byop .registration .shirts {
  line-height: 2rem;
}
.Byop .registration .shirts >div {
  margin-right: 1rem;
}
.Byop .registration .shirts input {
  width: 2rem;
}
.Byop .registration .exp-ccv {
  display: flex;
  text-align: left;
}
.Byop .registration .exp-ccv .exp {
  display: flex;
}
.Byop .registration .exp-ccv .exp >div {
  flex: 1;
}
.Byop .registration .exp-ccv >div:first-child {
  flex: 2;
}
.Byop .registration .exp-ccv >div:nth-child(2) {
  flex: 1;
}
.Byop .registration .total {
  font-weight: 700;
  justify-content: center;
}
.Byop .registration .total >* {
  margin: 0.25rem;
}
.Byop .registration button {
  margin-bottom: 4rem;
}
.Byop .registration button.submitting {
  opacity: 0.3;
}
.Byop .registration button.submitting:hover {
  background-color: #fff;
  color: #000;
}
.Byop .registration button:hover {
  background-color: #000;
  color: #fff;
}
@media (max-width: 767px) {
  .Byop .featured-event .content .center {
    font-size: 5rem;
  }
  .Byop .event-info {
    padding: 0rem 1rem;
  }
  .Byop .important-info {
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 1rem;
  }
  .Byop .important-info h4 {
    font-size: 1rem;
    line-height: 1.15rem;
  }
  .Byop .dates {
    font-size: 0.75rem;
    line-height: 0.85rem;
    padding: 1rem;
  }
  .Byop .dates li {
    margin-bottom: 0.5rem;
  }
  .Byop .detailed-info {
    font-size: 0.75rem;
    line-height: 0.9rem;
    padding: 1rem;
  }
  .Byop .detailed-info li {
    margin: 0.5rem 0rem;
  }
  .Byop .detailed-info li div {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .Byop .registration {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.25rem;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
  .Byop .registration .info {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
}
.Byopplayers {
  margin-top: 7rem;
}
.Byopplayers h3,
.Byopplayers h4 {
  text-align: center;
}
.Byopplayers .register-link {
  text-align: center;
  margin: 1rem 0rem;
}
.Byopplayers .waiting-list {
  color: #acacac;
}
.Division {
  padding: 2rem 6rem;
}
.Division h4 {
  text-align: center;
}
.Division .empty {
  color: #b13325;
  text-align: center;
}
.Division ol {
  margin: 1rem 3rem;
  padding: 1rem 3rem;
  border: 1px solid #4ab74a;
  border-top: none;
}
.Division ol li {
  color: #acacac;
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
}
@media (max-width: 767px) {
  .Division {
    padding: 1rem;
  }
  .Division ol {
    margin: 0.25rem 1rem;
    padding: 0.25rem 1rem;
  }
}
.featured-event {
  color: #fff;
  position: relative;
}
.featured-event img {
  display: block;
  width: 100%;
}
.featured-event .content {
  position: absolute;
  width: 55%;
  height: 100%;
  left: 40%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-event .content .center {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: center;
}
.featured-event .content .center >*:nth-child(2) {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
}
.featured-event .content .center button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 700;
  transition: background-color 0.5s, color 0.5s;
}
.featured-event .content .center button:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 767px) {
  .featured-event .content {
    width: 65%;
    left: 30%;
  }
  .featured-event .content .center {
    font-size: 1rem;
    line-height: 1rem;
  }
  .featured-event .content .center >*:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
  }
  .featured-event .content .center >*:nth-child(3) {
    font-size: 0.75rem;
  }
  .featured-event .content .center button {
    padding: 0.5rem 1rem;
  }
}
.Footer {
  color: #fff;
  display: flex;
  background-color: #000;
  padding: 2rem;
}
.Footer >div {
  flex: 1;
}
.Footer >div:nth-child(2) {
  background-image: url("/static/img/hazy-tree.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Footer >div .logo-white {
  display: block;
  margin: auto;
  width: 50%;
}
.Footer >div .contact {
  font-weight: 300;
  margin: auto;
  padding-top: 3rem;
  text-align: center;
  width: 50%;
}
.Footer >div .contact a {
  display: block;
  height: 2rem;
  margin: 0.5rem auto;
  width: 2rem;
}
.Footer >div .contact a svg {
  fill: #fff;
}
@media (max-width: 767px) {
  .Footer {
    display: inherit;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .Footer >div {
    flex: inherit;
  }
  .Footer >div:nth-child(2) {
    height: 15rem;
  }
  .Footer >div .contact {
    padding: 0;
  }
  .Footer >div .contact a {
    height: 1rem;
    width: 1rem;
  }
}
@media (min-width: 1400px) {
  .Footer .contact {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.select-wrap {
  position: relative;
}
.select-wrap select {
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.select-wrap .caret-down {
  fill: #a3a3a3;
  stroke: #8b8b8b;
  height: 1rem;
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  width: 1rem;
  z-index: 1;
}
input {
  background-color: #eff1f0;
  border: 1px solid #b5b5b5;
  padding: 0.25rem;
}
input::-webkit-input-placeholder {
  color: #999997;
}
input:-moz-placeholder {
  color: #999997;
}
input::-moz-placeholder {
  color: #999997;
}
input:-ms-input-placeholder {
  color: #999997;
}
input,
select {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.5rem;
  width: 100%;
}
input:focus,
select:focus {
  border-color: #4ab74a;
}
button {
  background-color: #fff;
  border: 1px solid #b5b5b5;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s, opacity 0.25s;
}
button.submitting {
  opacity: 0.3;
}
.Header {
  background-color: rgba(0,0,0,0.7);
  font-weight: 300;
  height: 2rem;
  left: 0;
  position: absolute;
  text-align: center;
  top: 1rem;
  width: 100%;
  z-index: 100;
}
.Header .logo-white {
  cursor: pointer;
  height: 1.5rem;
  margin: 0.25rem;
}
.Header .nav {
  display: flex;
}
.Header .nav >li {
  position: relative;
/* 
            &:nth-child(2)
                flex: 10
            
            &:last-child
                flex: 1
            */
}
.Header .nav >li:first-child {
  flex: 1;
}
.Header .nav >li:last-child {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 1rem;
  transition: background-color 0.5s;
}
.Header .nav >li:last-child svg {
  fill: #fff;
}
.Header .nav >li:last-child ul {
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
  color: #fff;
  display: none;
  height: initial;
  position: absolute;
  top: 5rem;
  right: 0rem;
}
.Header .nav >li:last-child ul li {
  padding: 0.5rem;
  white-space: nowrap;
}
.Header .nav >li:last-child ul li:hover {
  text-decoration: underline;
}
.Header .nav >li:last-child ul li:first-child {
  border-bottom: 1px solid #fff;
  cursor: default;
  text-decoration: none;
}
.Header .nav >li:last-child:hover {
  background-color: #fff;
}
.Header .nav >li:last-child:hover svg {
  fill: #000;
  opacity: 0.7;
}
.Header .nav >li:last-child:hover ul {
  display: block;
}
.Header .spans li {
  display: inline-block;
  line-height: 5rem;
}
.Header ul {
  height: 100%;
}
.Header span {
  color: #fff;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .Header {
    height: 5rem;
  }
  .Header .spans li {
    display: inline-block;
    line-height: 5rem;
  }
  .Header .logo-white {
    height: 3rem;
    margin: 1rem 3rem;
  }
  .Header .profile {
    height: 1rem;
    margin: 2rem;
  }
  .Header span {
    font-size: 1rem;
    margin: 0rem 2rem;
  }
}
@media (min-width: 1400px) {
  .Header {
    height: 7rem;
  }
  .Header .spans li {
    display: inline-block;
    line-height: 7rem;
  }
  .Header .logo-white {
    height: 5rem;
    margin: 1rem 4rem;
  }
  .Header .profile {
    height: 2rem;
    margin: 2.5rem;
  }
  .Header span {
    font-size: 2rem;
    margin: 0rem 4rem;
  }
}
.Home .title {
  color: #fff;
  font-size: 1.5rem;
  left: 2rem;
  position: absolute;
  top: 1rem;
  text-transform: uppercase;
}
.Home > img {
  display: block;
  width: 100%;
}
.Home .intro {
  padding: 1rem;
}
.Home .intro >div:nth-child(2) {
  padding: 4rem 6rem;
}
.Home .intro svg {
  height: 100%;
  padding: 4rem;
  margin-left: 2rem;
  width: 100%;
}
.Home .intro h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.Home .intro p {
  font-size: 0.85rem;
  font-weight: 300;
}
.Home .side-by-side {
  display: flex;
}
.Home .side-by-side >* {
  flex: 1;
  position: relative;
}
.Home .featured-product img {
  display: block;
  width: 100%;
}
.Home .disc-doctor {
  background-image: url("/static/img/fairway-pond-istock.jpg");
  background-size: 100% 100%;
  color: #000;
  padding: 3rem;
}
.Home .disc-doctor .main {
  display: flex;
}
.Home .disc-doctor .main div {
  flex: 1;
  margin: 0rem 1rem;
  text-align: center;
}
.Home .disc-doctor .main .logo-white {
  display: block;
  height: 6rem;
  margin: 0rem auto 1rem auto;
}
.Home .disc-doctor .main .heading {
  font-size: 4rem;
  line-height: 4rem;
}
.Home .disc-doctor .main .subtitle {
  font-weight: 300;
}
.Home .ez-finder {
  background-image: url("/static/img/ez-finder.png");
  background-size: 100% 100%;
}
.Home .ez-finder .caption {
  position: absolute;
  width: 33%;
  text-align: center;
  left: 33%;
  bottom: 1rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
}
.Home .suppliers {
  font-size: 1.25rem;
  font-weight: 300;
  padding: 2rem;
  text-align: center;
}
.Home .suppliers .logos {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.Home .suppliers .logos li {
  flex: 1;
}
@media (max-width: 767px) {
  .Home .side-by-side {
    display: inherit;
  }
  .Home .intro svg {
    margin: 0;
    padding: 2rem;
  }
  .Home .intro >div:nth-child(2) {
    padding: 2rem;
  }
  .Home .intro h3 {
    font-size: 0.75rem;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .Home .intro p {
    font-size: 0.85rem;
  }
}
@media (min-width: 1400px) {
  .Home .intro h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .Home .intro p {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  .Home .disc-doctor .subtitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 1rem;
  }
}
.Login {
  margin: 10rem auto 6rem auto;
  text-align: center;
  width: 50%;
}
.Login input,
.Login h3 {
  margin-bottom: 1rem;
}
.Toast {
  background-color: #b13325;
  border-radius: 5px;
  box-shadow: 0 0 12px #999;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0.8;
  position: fixed;
  padding: 1rem;
  right: 2rem;
  top: 2rem;
  transition: all 3s ease-in-out;
  z-index: 200;
}
.Toast.success {
  background-color: #4ab74a;
}
.Toast >div:first-child {
  float: left;
  padding: 0.5rem;
}
.Toast >div:first-child svg {
  fill: #fff;
  stroke: #fff;
  height: 2rem;
  width: 2rem;
}
.Toast >div:nth-child(2) {
  float: left;
  padding: 0 0.5rem;
}
.Toast >div:nth-child(2) >div:first-child {
  font-weight: bold;
}
.MemberTypeahead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MemberTypeahead input {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.75rem 0.5rem;
  width: 25rem;
}
.MemberTypeahead .form-label {
  color: $gold;
  font-size: 1.4rem;
  margin-right: 1rem;
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url("/static/font/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url("/static/font/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url("/static/font/Roboto-Light.ttf") format('truetype');
}
html {
  font-size: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 1px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-margin-start: 0rem;
  -webkit-margin-end: 0rem;
  -webkit-margin-before: 0rem;
  -webkit-margin-after: 0rem;
}
input,
button,
select,
textarea {
  margin: 0;
  border-radius: 0;
}
input:focus,
select:focus,
button:focus {
  outline: 0;
}
.showing {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hide {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hidden {
  display: none !important;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.link {
  color: #4ab74a;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
