.ByopTeamEditor

    .TypeAhead
        margin-bottom: 1rem

    .select-wrap
        .caret-down
            right: 0

    .static-data        
        background-color: #eff1f0
        border-radius: .5rem
        display: flex
        justify-content: center
        padding: .5rem

        >*
            margin: 0rem 1rem

        span
            color: black
