.Byop2016
    margin-top: 7rem

    h3, h4
        font-size: 2rem
        text-align: center

    h4
        color: $DarkGreen
        font-weight: bold

    .Division
        ol
            li
                div
                    div
                        display: flex

                span
                    display: initial
                    flex: 1

                    &:first-child
                        flex: 6
            
            &.header
                li
                    display: flex
                    border: none
                    font-weight: bold
                    font-size: 1.25rem
                    line-height: 1.5rem
                    text-align: center

@media (max-width: 767px)
    .Byop2016
        h3, h4
            font-size: 1rem

        .Division
            ol.header
                li
                    line-height: 1rem
                    font-size: .6rem

            span:first-chil
                flex: 4
                
