.ByopNumbers

    label
        color: black
        flex: 1
        font-weight: 700
        padding-top: 1rem

    .content
        >div
            border: 1px solid $HazyGreen
            display: flex
            margin: 1rem

        .players-pack, .shirts, .belmont-donation, .paid-type, .ace
            display: flex
            flex: 5
            flex-wrap: nowrap
            overflow-x: scroll
            padding: 1rem 0rem

            >div
                flex: 1
                white-space: nowrap
                padding: 0rem 1rem
