.Byop
    text-align: center

    select
        background-color: white
        padding: .25rem
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none

    input, select
        width: 100%

    h3
        font-size: 2rem
        text-transform: uppercase
        padding-top: 4rem

    .sub-heading
        color: $LightGray
        margin-bottom: 4rem

    .registration
        margin: 0 auto
        width: 40%

        .info
            color: $LightGray
            font-size: .65rem
            line-height: .75rem
