.Division
    padding: 2rem 6rem

    h4
        text-align: center

    .empty
        color: $ErrorRed
        text-align: center

    ol
        margin: 1rem 3rem
        padding: 1rem 3rem
        border: 1px solid $HazyGreen
        border-top: none

        li
            color: $LightGray
            display: list-item
            list-style-type: decimal
            list-style-position: inside

@media (max-width: 767px)
    .Division
        padding: 1rem

        ol
            margin: .25rem 1rem
            padding: .25rem 1rem
