.featured-event
    color: white
    position: relative
    
    img
        display: block
        width: 100%

    .content
        position: absolute
        width: 55%
        height: 100%
        left: 40%
        top: 0
        display: flex
        justify-content: center
        align-items: center

        .center
            font-size: 1.5rem
            font-weight: 300
            line-height: 3rem
            text-align: center

            >*:nth-child(2)
                font-size: 5rem
                font-weight: 700
                line-height: 6rem

            button
                background-color: black
                color: white
                cursor: pointer
                text-transform: uppercase
                border: none
                padding: 1rem 2rem
                font-size: 1rem
                margin-top: 1rem
                font-weight: 700
                transition: background-color .5s, color .5s

                &:hover
                    background-color: white
                    color: black


@media (max-width: 767px)
    .featured-event
        .content
            width: 65%
            left: 30%

            .center
                font-size: 1rem
                line-height: 1rem

                >*:nth-child(2)
                    font-size: 2rem
                    font-weight: 700
                    line-height: 3rem

                >*:nth-child(3)
                    font-size: .75rem

                button
                    padding: .5rem 1rem
