.Footer
    color: white
    display: flex
    background-image: url(/static/img/hazy-tree.svg)
    background-repeat: no-repeat
    background-size: 90% 100%
    background-color: black
    height: 40rem
    padding: 2rem

    >div
        flex: 1

    .logo-white
        width: 10rem

    .contact
        float: right
        padding-top: 3rem

        div
            &:first-child, &:nth-child(6)
                margin-bottom: 1rem

        a
         display: block
         height: 2rem
         margin: .5rem auto
         width: 2rem

        svg
            fill: white
