.select-wrap
    position: relative

    select
        background-color: transparent
        position: relative
        z-index: 2

    .caret-down
        fill: #a3a3a3
        stroke: #8b8b8b
        height: 1rem
        position: absolute
        right: .6rem
        top: .6rem
        width: 1rem
        z-index: 1
