.select-wrap
    position: relative

    select
        background-color: transparent
        position: relative
        z-index: 2

    .caret-down
        fill: #a3a3a3
        stroke: #8b8b8b
        height: 1rem
        position: absolute
        right: .6rem
        top: .6rem
        width: 1rem
        z-index: 1

input
    background-color: #eff1f0
    border: 1px solid #b5b5b5
    padding: .25rem 

    +placeholder()
        color: #999997

input, select
    font-size: 1.25rem
    font-weight: 100
    line-height: 1.5rem
    width: 100%

    &:focus
        border-color: $HazyGreen

select 
    background-color: #eff1f0

button
    background-color: white
    border: 1px solid #b5b5b5
    cursor: pointer
    font-size: 1.25rem
    padding: .5rem 1rem
    text-transform: uppercase
    transition: background-color .5s, color .5s, opacity .25s

    &.submitting
        opacity: .3
