.Home
    > img
        display: block
        height: 30rem
        width: 100%

    .intro
        background-color: gray
        display: flex

        >div, >svg
            flex: 1
            
    .side-by-side
        display: flex

        >div
            flex: 1

    .featured-products
        display: flex

        >div
            flex: 1
            position: relative

            img
                display: block
                width: 100%

            span
                position: absolute

    .disc-doctor
        background-image: url(/static/img/basket-under-trees.jpg)
        background-size: cover
        color: white
        padding: 3rem

        .main
            display: flex

            div
                flex: 1
                margin: 0rem 1rem
            
                .logo-white
                    height: 10rem
            
                &:first-child
                    text-align: right

                &:last-child
                    font-size: 4rem
                    line-height: 10rem
        
        
        .subtitle
            text-align: center

            

    .featured-event
        background-image: url(/static/img/belmont-sun.jpg)
        background-size: cover
        padding: 3rem
        text-align: center

