.Home
    > img
        display: block
        height: 30rem
        width: 100%

    .intro
        background: linear-gradient(to right, black, #565759, black)
        padding: 2rem 6rem
        color: white

        h3
            margin-bottom: 1rem
            text-transform: uppercase

    .side-by-side
        display: flex

        >*
            flex: 1

    .featured-product
        position: relative

        img
            display: block
            width: 100%

        span
            font-size: 2rem
            left: 1rem
            position: absolute
            top: 1rem
            text-transform: uppercase

    .disc-doctor
        background-image: url(/static/img/basket-under-trees.jpg)
        background-size: 100% 100%
        color: white
        padding: 3rem

        .main
            display: flex

            div
                flex: 1
                margin: 0rem 1rem
            
                .logo-white
                    height: 10rem
            
                &:first-child
                    text-align: right

                &:last-child
                    font-size: 4rem
                    line-height: 10rem
        
        
        .subtitle
            text-align: center

    .ez-finder
        background: linear-gradient(to bottom, #8f57a3, #e3098e)

        .disc
            border-radius: 50%
            background: linear-gradient(to bottom, #f38c3e, #fee32a, #f38c3e )

    .featured-event
        background-image: url(/static/img/belmont-sun.jpg)
        background-size: cover
        padding: 3rem
        text-align: center

    
