.Json
    
    ol
        text-align: left 

        >li
            display: flex
            padding: .5rem

            >div
                padding: .5rem

                &:first-child
                    flex: 1
                
                &:last-child
                    flex: 5
    
    >button
        border: none
        bottom: 2rem
        background-color: $DarkGreen
        border-radius: 2rem
        color: white
        line-height: 2rem
        height: 2rem
        padding: 0rem
        position: fixed
        right: 3rem
        width: 2rem
