.JsonProperty
    align-items: center
    display: flex
    padding: .5rem

    >div
        cursor: auto
        padding: .5rem

        &:first-child
            flex: 1

        &:nth-child(2)
            flex: 3
            transition: all .5s
        
        &:nth-child(3)
            flex: 10
            transition: all .5s
       

    .ButtonFlow
        font-size: .75rem
        opacity: 0
        text-align: left
        transition: all .5s

        .state
            justify-content: center

        .confirmDelete

            button
                font-size: .75rem

            svg
                height: .75rem
                width: .75rem
        
    &:hover
        .ButtonFlow
            opacity: 1

            &:hover
                stroke: $ErrorRed

    &.editable
        >div
            &:hover 
                background-color: $LightGrayTransparent
        
    &.confirm-delete
        background-color: $ErrorRedTransparent

        >div
            &:hover
                background-color: transparent
