.JsonProperty
    display: flex
    padding: .5rem

    >div
        padding: .5rem

        &:first-child
            flex: 1
        
        &:nth-child(2)
            flex: 5

    .ButtonFlow
        display: none

    &:hover
        .ButtonFlow
            display: initial
