.JsonProperty
    align-items: center
    display: flex
    padding: .5rem

    >div
        cursor: auto
        padding: .5rem

        &:nth-child(2)
            flex: 3
        
        &:nth-child(3)
            flex: 10
       
        &:hover 
            background-color: $LightGrayTransparent

    .ButtonFlow
        opacity: 0
        flex: 1
        text-align: left
        transition: opacity .5s

        .state
            justify-content: center

        .confirmDelete

            button
                font-size: .75rem

            svg
                height: .75rem
                width: .75rem

    &:hover
        .ButtonFlow
            opacity: 1

            &:hover
                stroke: $ErrorRed
