.List
    margin: 2rem
    padding: .5rem

    li
        cursor: pointer
        
        &:hover
            background-color: $LightGrayTransparent

            svg
                display: inline-block

    >button
        border: none
        bottom: initial
        background-color: $DarkGreen
        border-radius: 2rem
        color: white
        font-size: .5rem
        left: 3rem
        line-height: 2rem
        height: 3rem
        padding: 0rem
        position: fixed
        top: 8rem
        width: 3rem        
    
    >button+button
        bottom: 2rem
        top: initial
