.List
    padding: .5rem

    li
        cursor: pointer
        
        &:hover
            background-color: $LightGrayTransparent

            svg
                display: inline-block

    >button
        right: 3rem
        top: 8rem
    
    >button+button
        top: 14rem
