.List
    margin: 2rem
    padding: .5rem

    li
        cursor: pointer
        
        &:hover
            background-color: $LightGrayTransparent

            svg
                display: inline-block
